/* Root calendar panel */
.react-datepicker {
  background-color: var(--color-accent) !important; /* or your actual color */
  border: none !important;
  border-radius: 0.2rem; /* rounded-md */
  box-shadow: none;
  padding: 0.2rem;
  font-family: var(--font-cormorant);
}

/* Header (month + days of week) */
.react-datepicker__header,
.react-datepicker__current-month {
  background-color: var(--color-accent) !important;
  border-bottom: none !important;
  color: white !important;
  font-family: var(--font-cormorant-sc);
  font-weight: 300;
}

.react-datepicker__day-name {
  color: white !important;
}

/* Day cells (optional theming) */
.react-datepicker__day {
  color: var(--color-secondary);
  border: 1px solid transparent !important;
}

.react-datepicker__day:hover {
  color: white;
  background-color: var(--color-accent) !important;
  border: 1px solid var(--color-primary) !important;
  border-radius: 100% !important;
}

/* Days from the previous/next month */
.react-datepicker .react-datepicker__day--outside-month {
  color: var(--color-tertiary) !important; /* pick your faded color */
  opacity: 1; /* optional: make them lighter */
}

/* both arrows */
.react-datepicker__navigation-icon::before {
  border-color: var(--color-secondary) !important; /* your arrow color */
}

/* hover/focus */
.react-datepicker__navigation:hover .react-datepicker__navigation-icon::before,
.react-datepicker__navigation:focus .react-datepicker__navigation-icon::before {
  border-color: var(--color-secondary) !important; /* hover color (optional) */
}

/* when navigation is disabled */
.react-datepicker__navigation--disabled
  .react-datepicker__navigation-icon::before {
  border-color: var(
    --color-tertiary
  ) !important; /* disabled arrow color (optional) */
}
