@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* colours */
  --color-primary: #641211;
  --color-secondary: #dbc07b;
  --color-tertiary: #31597f;
  --color-accent: #14142a;

  /* fonts */
  /*   weight: ["300", "400", "600", "700"] */
  --font-cor: var(--font-cormorant);
  --font-cor-sc: var(--font-cormorant-sc);

  /* custom breakpoint */
  --breakpoint-3xl: 120rem;
}

@layer base {
  :root {
    --background: #0c0c19;
    --foreground: #90a3b0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  h1 {
    @apply text-4xl mb-8 text-white;
  }

  h2 {
    @apply text-xl font-cor-sc;
  }

  h3 {
    @apply text-xl;
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply text-lg;
  }

  small {
    @apply text-sm;
  }

  strong {
    @apply font-semibold;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-cormorant);
    font-weight: 300;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer utilities {
  /*** left/right margins for main content on most pages ***/
  .main-side-padding {
    @apply 3xl:px-40 lg:px-10 px-4;
  }
}

@layer components {
  /* Root calendar */
  :where(.react-datepicker) {
    @apply bg-red-700 text-foreground font-sans border border-primary rounded-md shadow-lg;
  }

  /* Popper wrapper (z-index) */
  :where(.react-datepicker-popper) {
    @apply z-50;
  }
}
