@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
[id^="reactgooglegraph-"] path {
  stroke: #fff;
  stroke-width: 0;
}

.google-visualization-tooltip {
  background: #fff !important;
  border: 1px solid #333 !important;
  border-radius: 6px !important;
  padding: 8px 10px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
}

.google-visualization-tooltip * {
  font-family: "Courier New", monospace !important;
  font-size: 26px !important;
  color: #222 !important;
}
