@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* colours */
  --color-primary: #641211;
  --color-secondary: #dbc07b;
  --color-tertiary: #31597f;
  --color-accent: #14142a;

  /* fonts */
  /*   weight: ["300", "400", "600", "700"] */
  --font-cor: var(--font-cormorant);
  --font-cor-sc: var(--font-cormorant-sc);

  /* custom breakpoint */
  --breakpoint-3xl: 120rem;
}

@layer base {
  :root {
    --background: #0c0c19;
    --foreground: #fff;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  h1 {
    @apply font-cor-sc;
  }

  h3 {
    @apply text-xl text-secondary;
  }

  h4 {
    @apply text-lg;
  }

  p {
    @apply text-lg;
  }

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-cormorant);
    font-weight: 300;
  }
}

@layer utilities {
  /*** left/right margins for main content on most pages ***/
  .main-side-padding {
    @apply 3xl:px-40 2xl:px-40 xl:px-20 lg:px-10 px-4;
  }
}

/* GRAPH STYLING*/
[id^="reactgooglegraph-"] path {
  stroke: #fff;
  stroke-width: 0;
}

.google-visualization-tooltip {
  background: #fff !important;
  border: 1px solid #333 !important;
  border-radius: 6px !important;
  padding: 8px 10px !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3) !important;
}

.google-visualization-tooltip * {
  font-family: "Courier New", monospace !important;
  font-size: 26px !important;
  color: #222 !important;
}
